body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #442D1C;
    background-color: #E8D1A7;
}

header {
    background-color: #743014;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    border-bottom: 2px solid #9D9167;
}

section h2 {
    color: #84592B;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}
.content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content img {
    margin-right: 20px;
    border-radius: 10px;
}

.content div {
    max-width: 600px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ccc;
}